/**********************************************************************************************
 *                                      Fixed personal area                                   *
 *	                                                                                          *
 * If you want the personal area to have a fixed position,                                    *
 * please uncomment the following block                                                       *
 **********************************************************************************************/


/*
#header {
	margin-top: 40px;
}

#personalArea {
	position:fixed;
	padding-left: 0px;
	padding-right: 0px;
	width:100%;
	z-index: 999;
}
#personalArea #personalAreaUser {
	padding-left: 25px;
}
#personalArea #personalAreaTime {
	padding-right: 25px;
}
*/

/*============================================================================================*/
/**********************************************************************************************
 *                            Hide Portal Modules on Smartphones                              *
 *                                                                                            *
 * If you want to hide portal modules on Smartphone, get the CSS-Class for the module from    *
 * the source text in your browser, uncomment the following block and add the CSS Class       *
 **********************************************************************************************/

/*
@media all and (max-width: 480px) {
	.offi_conf_portal, .birthday_portal {
		display: none;
	}
}
*/

/*============================================================================================*/
/**********************************************************************************************
 *     Give Article Headlines of some categories (here: Category #2) a special color          *
 **********************************************************************************************/

/*
.article-container[data-article-category-id="2"] h2 a, .article_detail_container[data-article-category-id="2"] h1{
	color: #efefef;
}
*/

/*============================================================================================*/

/* If you want to embedd EQdkp Plus, give the body the class "embedded" and remove the reponsive Block from the body class. */

/*
body.embedded {
	background: transparent;
}

.embedded #header, .embedded .personalAreaTime {
	display: none;
}

.embedded #contentContainer {
	background: transparent;
	margin:0;
	box-shadow: none;
	border: none;
}

.embedded #personalArea {
	padding-right: 20px;
	padding-left: 20px;
	margin-bottom: 0;
	box-shadow: none;
}

.embedded #contentBody, .embedded #contentBody2 {
	background: transparent;
	border: none;
}

.embedded #footer, .embedded .copyright, .embedded #footer a, .embedded #copyright a {
	color: inherit;
}
*/